.form-group, h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.surveyresult {
  margin-left: auto;
  margin-right: auto;
  display: none;
  border-style: solid;
  max-width: 50%;
  text-align: center;
  margin-top: 40px;
  font-size: 20pt;
  padding: 10px 25px 10px 25px;
  background-color: #BDFDFF;
  border-color: #3092A6;
  color: #425959;
}

.submitButton {
  text-align: center;
}

.btn {
  width: 300px;
  height: 50px;
  color: #425959;
  background-color: #BDFDFF;
  border-radius: 10px;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.6);
}
.form-control {
  background-color: lightgrey;
}

.btn:active {
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.6);
  transform: translateY(4px);
}

.btn:hover{
  color: #3092A6;
  text-decoration: underline;
}

#submitText {
  font-weight: bold;
  font-size: 100%;
}

.option {
  font-weight: bold;
  margin-left: 8px;
}

.heading {
  margin: 0 0 15px 0;
  padding: 30px 20px 20px 20px;

  color: #425959;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background: #BDFDFF;
  max-width: 100%;

}
